<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >

<suite name="Suite1" verbose="1" >
    <test name="BookingTestNG" >
        <classes>
            <class name="tests.booking.BookingMoskowRoomsByDate" />
            <class name="tests.booking.BookingMinimalPriceForRoomTest" />
                   <class name="tests.booking.BookingRegisterTest" />
            <class name="tests.booking.ChangeHotelCardTittleColorTest"></class>
        </classes>
    </test>
</suite>
